.flexContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.flexContainer img{
    width: 100%;
    height: 100%;
}

.manageMap{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

